.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
  }
  
  .header .logo {
    font-size: 48pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 30px;
  }
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin-right: 20px;
  }
  .nav-items a {
    text-decoration: none;
    color: white;
    padding: 35px 20px;
  } 
  .first {
    color: #333333;
    font-size: 16pt;
    padding: 20px 20px;
}
  .first a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333333;
    size: 16pt;
    padding: 35px 15px;
  } 
  .first input{
  padding: 3px;
  border: #696969 solid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  }
 .second{
     background-color: #c7c7c7;
     display: flex;
     line-height: 1.5;
 }
 .second .mid{
     align-content: center;
     margin: auto;
     size: 58pt;
     
 }
 .second .right{
     align-content: center;
     margin: auto;
     size: 18pt;
 }

 .flex-container {
  display: flex;
  background-color: #fffefe;
}
.middle > h1{
  size: 30pt;
  color: #333333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex-container > div {
  
  color: black;
  width: 180px;
  margin: 5px;
  margin-top: -2%;
  size: 20pt;
  text-align: center;
  
}
.flex-container .box2 {
  background-color: #dbf3fa;
  width: 108px;
  margin: 10px;
  margin-right: 10%;
  margin-left: 5%;
  
}
.bottom-cont {
  color: #333333;
  size: 14pt;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
  margin-top: 3%;
  line-height: 1.6;
}
.footer .cont {
  background-color: #131a22;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  display: flex;
}
.footer .cont .col {
  margin: 0;
  padding: 0;
  margin-right: 5%;
}
.footer .cont .col h1 {
  
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18pt;
  
  padding: 20px 0px 5px 0px;
  color: white;
  
}
.footer .cont .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .cont .col ul li {
  color: white;
  font-size: 16pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  padding: 5px 0px 5px 0px;
 
} 


